/* -------------- common colors -------------- */

$black: #252525;
$grey: #b7b7b7;
$blue: #7ac8f0;
$pink: #f19da3;
$purple: #c7b6f1;
$panel: #fbf8f8;
$green: #82deaa;
$red: #f3686d;

@import "compass";

/* --------- normalize --------- */

// @import "_misc/normalize";

/* -------- fonts ---------*/

@import "_misc/_fonts";

/* --------- mixins --------- */

@import "_misc/mixins";

/* --------- adjustment --------- */

@import "_misc/adjustment";

/* -------------- misc icons sprite -------------- */

// $misc-sprite: sprite-map('icons/_misc/*.png', $spacing: 70px);

/* --------- sections --------- */

@import "_sections/**/*";