/* --------- adjustment --------- */

$container-width: 1266px;
$footer-height: 684px;
$body-font: 'Robotolight', 'Open Sans', sans-serif;

* {
	box-sizing: border-box;
}

html {
	width:100%;
	font-size: 100%;

	@include top {
		font-size: 15px;
	}
	@include desktop {
		// font-size: 15px;
	}
	@include laptop {
		font-size: 14px;
	}
	@include tablets {
		// font-size: 13px;
	}
	@include phones {
		font-size: 12px;
	}
}

body {
	font: 16px/1.41 $body-font;
    -webkit-font-smoothing: antialiased;
	width:100%;
	height:100% !important;
	margin: 0;
	color: $black;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none outside none;

	li {
		padding: 0;
		left: 0;
	}
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

footer {
	position: relative;
	// min-width: $container-width + 50;
	height: $footer-height;
	margin-top: -$footer-height;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;
	// max-width: $container-width + 50px;

	&:after {
		content: "";
		display: block;
		// position: relative;
		height: $footer-height;
	}
}

.container {

}

.img-cover {
	position: relative;
	display: block;
	background-position: 50% 50%;
	background-repeat: no-repeat;
    background-size: cover;
}

.img-contain {
	position: relative;
	display: block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-fake {
	position: absolute;
    top: 0;
    left: -9999px;
}

.img-width {
	max-width: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background: rgba(37, 37, 37, .35);
}


/*---------- checkbox -----------*/

.checkbox {
	display: block;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.checkbox__input {
	position: absolute;
	top: 0;
	left: -40px;
}

.checkbox__input:checked + .checkbox__fake {

	&::before {
	    display: block;
	}
}

.checkbox__input:checked + .checkbox__fake--radio {
	background: #a5d2fb;

	&::before {
	    display: block;
	}
}

.checkbox__fake--radio {
	

	&:before {
		content: "";
		display: none;
		position: absolute;
	}
}
