@media screen and (max-width: 1224px) { //top
	// .container {
	// 	width: 970px;
	// 	width: 96%;
	// }
}

@media screen and (max-width: 1024px) { //desktop
	// .container {
	// 	width: 750px;
	// 	width: 96%;
	// }
}

@media screen and (max-width: 992px) { //laptop
	// .container {
	// 	width: 750px;
	// 	width: 96%;
	// }
}

@media screen and (max-width: 768px) { // tablets
	// .container {
	// 	width: 480px;
	// 	width: 90%;
	// }
}

@media screen and (max-width: 480px) { // phones
	// .container {
	// 	width: auto;
	// 	width:90%;
	// }
}
